<!DOCTYPE html>
<html lang="en">
<head>

  <%- include('./partials/head.ejs') %>
  <!-- Tailwind config for photos.ejs -->
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              coral: '#FF7F50',
              whitesmoke : '#F5F5F5',
              FFC300: '#FFC300',
              C70039: '#C70039',
              229954: '#229954 ' 
            }
          }
        }
      }
    </script>
    <title>YourPhotos | Posted Photos!</title>
</head>
<body>
    <%- include('./partials/navigation.ejs') %>
    <div class="bg-white">
        <div class="mt-6">
          <h2 class="text-2xl font-bold tracking-tight text-gray-900">Your photos here!</h2>
          <hr>
          
            <div class="flex flex-row flex-wrap justify-center items-center">

              <% for(let i=0; i<fotos.length; i++) {%>
                <div class="m-2 p-3 w-80 h-96 max-h-full border-2">
                  <div>
                    <p class="text-lg font-semibold"><%= fotos[i].titulo %></p>
                    <img src="<%= fotos[i].url %>">
                    <p><%= fotos[i].fecha %></p>
                    <p><%= fotos[i].descripcion %></p> 
                  </div>
                  <br>
                  <a class="my-8 p-3 w-24 text-center text-whitesmoke font-medium rounded-full bg-229954" href="photos/editphoto/<%= fotos[i].id%>">Edit</a>
                  <a class="my-8 p-3 w-24 text-center text-whitesmoke font-medium rounded-full bg-C70039" href="photos/deletephoto/<%= fotos[i].id%>">Delete</a>
                </div>
              <% } %>

            </div>


        </div>
      </div>
</body>
</html>